<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pokemons</title>
    <%- include("imports.ejs") %>
</head>
<body class="all-pokemon">
    <header>
            <h1>POKEDEX</h1>
            <a href="/pokemon/new"><button class="btn-new">Create New pokemon</button></a>

    </header>

    <ul class="showAll">
        <% for(let i = 0; i < pokemons.length; i++){ %>

            <li>
              <a href="/pokemon/<%= i%>"><img class="poke-img" src="<%= pokemons[i].img %>"/></li></a>
            </li>
        <% } %>
    </ul>
</body>
</html>